 <div class='hero-content'> <!-- Hero content -->
   <div class='container'>
     <h1 class="animated bounceIn"> Bloc Jams </h1>
     <h3 class="animated bounceIn" ng-click="subTextClicked()"> {{ subText }} </h3>
   </div>
 </div>
 
 <div class='selling-points container animate slideUp'> <!-- selling points -->
   <div class='row'>
     <div class='point col-md-4'>
       <h5> Choose your music </h5>
       <p> The world is full of music, why should you have to listen to music that someone else chose?</p>
     </div>
     <div class='point col-md-4'>
       <h5>Unlimited, streaming, ad-free</h5>
       <p>No arbitrary limits. No distractions.</p>
     </div> 
     <div class='point col-md-4'>
       <h5>Mobile enabled</h5>
       <p>Listen to your music on the go. This streaming service is available on all mobile platforms.</p>
     </div>
   </div>
 </div>
 
 <div class="landing-album-list container">
   <div class="row">
     <div class="col-md-4 album-cover" ng-repeat="albumURL in albumURLs">
      <div class='flipper'>
        <figure class='front'>
          <img  ng-src="{{albumURL}}">
        <figcaption>
          {{album.name}} <br />
          {{album.artist}}
        </figcaption>  
        </figure>  
      </div> 
     </div>
   </div>
 </div>

