.hero-content{
    background: #2F1D57;
    padding: 100px 0;

    h1 {
      font-size: 70px;
      margin-bottom: 30px;
      font-weight: 300;  
    }
}

.selling-points{
    padding: 100px 0;
    visibility: hidden;
    .point {
        width: 32%;
        float: left;
        padding: 0 20px;

        h5 {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
          text-align: center;
          height: 85px;
        }

        p {
          font-size: 18px;
        }  
    }
}

.landing-album-list {
  padding-right: 75px;

}

div.flipper {
  perspective: 1200px;
  width: 100%;
  float: left;
}

div.flipper figure {
  position: relative;
  transform-style: preserve-3d;
  transition: 1s transform;
} 

div.flipper figure img {
  width: 100%; 
  height: auto;
}

div.flipper figure figcaption {
  color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(255,255,255,0.9);
  transform: rotateY(.5turn) translateZ(1px);
  text-align: center;
  padding-top: 45%;
  transition: 1s .5s opacity;
}

div.flipper:hover figure { transform: rotateY(.5turn)}
div.flipper:hover figure figcaption { opacity: 1;}

